:root {
  --main-bg-color: #ecedf2;
  --main-text-color: #28373a;
  --hover-bg-color: #584974;
  --hover-text-color: #ecedf2;
  --font-family: "Inter", sans-serif;
  --header-height: 60px;
  --border-radius: 10px;
  --transition-duration: 0.1s;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  text-decoration: none;
}

html,
body {
  background-color: var(--main-bg-color);
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
}

header {
  max-width: fit-content;
  height: var(--header-height);
  display: flex;
  margin: 20px 45px;
  flex-direction: row;
  align-items: center;
  column-gap: 6px;
}

header * {
  font-size: 16px;
}

.header__khpi_logo_link {
  width: var(--header-height);
  height: var(--header-height);
  background-color: white;
  border-radius: var(--border-radius);
}

.header__khpi_logo_link img {
  width: 44px;
  height: 44px;
  margin: 8px;
}
.header__nav__pages, .header__nav_connect, .header__language__button {
  background-color: white;
}
.header__nav__pages {
  width: 100%;
  border-radius: var(--border-radius);
  max-height: var(--header-height);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header__nav__pages ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: var(--header-height);
}

.header__nav__pages li:last-child {
  margin-right: 0;
}

.header__nav_link,
.header__nav_connect {
  padding: 20px 52px;
}

.header__nav_connect {
  padding: 20px 80px;
}

.header__language__button {
  min-width: var(--header-height);
  border: 0;
}

a,
button {
  height: var(--header-height);
  max-height: var(--header-height);
  min-width: fit-content;
  color: var(--main-text-color);
  letter-spacing: -2%;
  text-align: center;
  font-weight: 500;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: color, background-color var(--transition-duration) ease-in-out;
}

a:hover:not(.header__khpi_logo_link),
button:hover:not(.header__khpi_logo_link) {
  color: var(--hover-text-color);
  background-color: var(--hover-bg-color);
  transition: color, background-color var(--transition-duration) ease-in-out;
}
