<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="header.css" />
</head>

<body>
  <header>
    <a href="#" class="header__khpi_logo_link">
      <img src="../../../assets/khpi_logo.png" class="header__khpi__logo" />
    </a>
    <div class="header__nav__pages">
      <a href="#" class="header__nav_link">About us</a>
      <a href="#" class="header__nav_link">To a student</a>
      <a href="#" class="header__nav_link">Sot Polytechnic</a>
      <a href="#" class="header__nav_link">Documents</a>
      <a href="#" class="header__nav_link">Contacts</a>
      <a href="#" class="header__nav_link">News</a>
    </div>
    <button class="header__language__button">En</button>
    <a href="#" class="header__nav_connect">Connect with us</a>
  </header>
</body>

</html>
