* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: #ecedf2;
    color: #28373a;
}

main {
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.headline-ICSIT,
.trade-union-committee {
    background-color: white;
    width: 95%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    font-weight: 500;
    line-height: 1.0;
}

.trade-union-committee {
    padding: 90px 45px 40px 45px;
}

.members-committee {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.headline-ICSIT {
    padding: 40px 90px;
}

.headline-ICSIT h1 {
    max-width: 80%;
    font-size: clamp(5rem, 7vw, 120px);
    text-align: center;
    letter-spacing: -0.06em;
    line-height: 1.0;
    font-weight: 500;
}

.trade-union-committee h2 {
    font-size: 60px;
}

.trade-union-committee-information {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 10px;
}

.leader-union-committee {
    color: #584974;
    font-size: 28px;
}


.photo-leader-union-committee {
    border-radius: 10px;
    margin: 10px 0 70px 0;
}


.trade-union-committee-information p {
    width: 50%;
}

.trade-unionists {
    display: flex;
    background-color: #ecedf2;
    padding: 30px 40px;
    border-radius: 10px;
    justify-content: space-between;
    flex-direction: row;
}

.name-members-committee {
    font-size: 46px;
}

.group-members-committee {
    display: flex;
    align-items: center;
    font-size: 24px;
}

@media screen and (max-width: 1280px) {
    .trade-union-committee-information {
        width: 100%;
    }
    .headline-ICSIT {
        padding: 40px 20px;
    }
}