<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" href="footer.css">
  <title>Footer</title>
</head>
<body>
<footer>
  <div class="copyright--footer">
    <img src="../../../assets/khpi_logo_footer.webp" class="footer__khpi__logo" alt="khpi logo" />
    <div class="copyright-text--footer">
      <p>© 2024 Trade Union of Students. All rights reserved.</p>
      <p>Design By: You`re goddamn right</p>
    </div>

  </div>
  <div class="links--footer">
    <div class="link--footer">
      <a href="#">Camp</a>
      <a href="#">Contacts</a>
      <a href="#">News</a>
    </div>
    <div class="link--footer">
      <a href="#">About</a>
      <a href="#">To a student</a>
      <a href="#">Commissions</a>
    </div>
    <div class="link--footer">
      <a href="#">Team</a>
      <a href="#">Student Palace</a>
      <a href="#">Enclosures and prices</a>
    </div>
  </div>
</footer>
</body>
</html>