* {
  margin: 0;
  font-family: "Inter", sans-serif;
}
body {
  background-color: #ecedf2;
}

.text-box {
  background-color: #ffff;
  border-radius: 10px;
  width: 95%;
  padding: 20px 0;

  margin: auto;
}
img {
  display: block;
}
ul,
a {
  text-decoration: none;
  list-style-type: none;
}
